

<!DOCTYPE html>
<html>
    <head>
            <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">

    <!-- custom style-->
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>


    </head>

    <body>

        <!-- start::Navbar-->
        <nav class="navbar navbar-dark navbar-expand-sm  fixed-top">
            <div class="container">
                <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mr-auto p-10" href="/index.html"> <img src="/images/logo.png"  height="30"></a>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item "><a class="nav-link" href="/index.html">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/templates/about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/templates/contactus.html">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="/index.html">Contact</a></li>
    
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End::Navbar-->

        <!-- Strat::header -->
        <header class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h1>Mohammed Bin Hadyan</h1>
                        <p>This website created by Mohammed Bin-Hadyan</p>
                   </div>
                </div>
            </div>
        </header>
        <!-- End::header -->

        <!-- Strat::content -->
        <div class="container">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item active">About Us</li>
            </ol>
            <div class="row row-title">
               
                <div class="col-6 col-sm-6 order-sm-first col-md-6">
                    <h3>About</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-content">
                <div class="col-12 col-sm-6 order-sm-first col-md-6">
                    <h3>Our History</h3>
                    <p>we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                        we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                    </p>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <h3 class="card-header bg-primary text-white">Facts at a Glance</h3>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-6">Started</dt>
                                <dd class="col-6"> 5 May, 2020</dd>

                                <dt class="col-6">Major Stakeholder</dt>
                                <dd class="col-6"> MFH Inc</dd>

                                <dt class="col-6">Last Year's Tumover</dt>
                                <dd class="col-6"> $2,000,000</dd>

                                <dt class="col-6">Employees</dt>
                                <dd class="col-6"> 50</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-body bg-light">
                        <blockquote class="blockquote">
                            <p class="mb-0"> The best Restaurant in the world</p>
                            <footer class="blockquote-footer"> Talal 
                                <cite title="Source Title">
                                    Riyadh, Saudi Arabia 2020
                                </cite>

                            </footer>
                        </blockquote>
                    </div>
                </div> 
            </div>
        </div>
        <div class="container">
            <div class="row row-content ">
                <div class="col-12 col-sm-12 order-sm-first col-md-12">
                    <h3>Corporate Leadership</h3>
                    <div id="accordon">
                        <div class="card">
                            <div class="card-header" role="tab" id="peterhead">
                            <h3 class="mb-0">
                                <a data-toggle="collapse" data-target="#peter">
                                    Mohammed Bin Hadyan <small>Founder - CEO </small>
                                </a>
                            </h3>
                            </div>
                            <div class="collapse show" id="peter" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="d-none d-sm-block">we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                        we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="dannyhead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#danny">
                                    <h3>Abdulrahman Bin Hadyan <small>CTO</small></h3>
                                </a>
                            </h3>
                        </div>
                        <div class="collapse" id="danny" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                    we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                            <div class="card-header" role="tab" id="agumbehead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#agumbe">
                                    <h3>Nawaf Bin Hadyan <small>CFO</small></h3>
                                </a>
                            </h3>
                        </div>
                        <div class="collapse" id="agumbe" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                    we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                            <div class="card-header" role="tab" id="albertohead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#alberto">
                                    <h3>Khalid Bin Hadyan <small>COO</small> </h3>
                                </a>
                            </h3>
                        </div>
                        <div class="collapse" id="alberto" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                    we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                </p>
                            </div>
                        </div>
                    </div>

<!--                     
                        <div class="card">
                            <div class="card-header" role="tab" id="mohammed">
                                <h3 class="mb-0">
                                    <a data-toggle="collapse" data-target="#mohammed">
                                      
                                    </a>
                                </h3>

                            </div>

                        </div> -->
                    </div>
        <!----

                    <div class="tab-content">

                        <div class="tab-pane fade show active" role="tabpanel" id="mohammed">
                            <h3>Mohammed Bin Hadyan <small>Founder - CEO </small></h3>
                            <p class="d-none d-sm-block">we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                            </p>
                        </div>
                        <div class="tab-pane fade show " role="tabpanel" id="abdulrahman">
                           
                            <h3>Abdulrahman Bin Hadyan <small>CTO</small></h3>
                            <p class="d-none d-sm-block">we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                            </p>
                        </div>
                        <div class="tab-pane fade show " role="tabpanel" id="nawaf">
                            <h3>Nawaf Bin Hadyan <small>CFO</small></h3>
                            <p class="d-none d-sm-block">we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                            </p>
                        </div>
                        <div class="tab-pane fade show " role="tabpanel" id="khalid">
                            <h3>Khalid Bin Hadyan <small>COO</small> </h3>
                            <p class="d-none d-sm-block">we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                                we have learnt about responsive design and the bootstrap grid system. We have seen how the bootstrap grid allows us to design responsive websites. It's time for us to move onto the next exercise.
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row row-content">
                <div class="col-12 col-sm-9">
                    <h2>Facts &amp; Figures</h2>'
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>2013</th>
                                    <th>2014</th>
                                    <th>2015</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Employees</th>
                                    <td>15</td>
                                    <td>30</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <th>Guests Served</th>
                                    <td>15000</td>
                                    <td>45000</td>
                                    <td>100,000</td>
                                </tr>
                                <tr>
                                    <th>Special Events</th>
                                    <td>3</td>
                                    <td>20</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <th>Annual Turnover</th>
                                    <td>$251,325</td>
                                    <td>$1,250,375</td>
                                    <td>~$3,000,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                 <div class="col-12 col-sm-3">
                </div>
           </div> 
    

        </div>
        <!-- End::content -->
    
        <!-- Strat::footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-sm-2">
                        <h5>Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="/index.html"> Home </a></li>
                            <li><a href="/templates/about.html"> About </a></li>
                            <li><a href="#"> Price </a></li>
                            <li><a href="#"> Menu </a></li>
                            <li><a href="#"> Contact </a></li>
                        </ul>
                    </div>
                    <div class="col-7 col-sm-5">
                        <h5>Address</h5>
                        <address class="address">
                            3995 Ibn Duraid, Riyadh Saudi Arabia <br/>
                            
                            <i class="fa fa-phone fa-lg">+966541160041</i><br/>
                            <i class="fa fa-envelope fa-lg">+966541160041</i>
                        </address>
                    </div>
                    <div class="col-12 col-sm-4 align-self-center">

                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google" href="https://google.com" target="_black"> <i class="fa fa-google fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-google" href="https://youtube.com" target="_black"> <i class="fa fa-youtube fa-lg"></i> </a>
                            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com" target="_black"> <i class="fa fa-twitter fa-lg"></i></a>
                            <a class="btn btn-social-icon btn-facebook" href="https://facebook.com" target="_black"> <i class="fa fa-facebook fa-lg"></i> </a>
                            <a class="btn btn-social-icon " href="mailto:" target="_black"> <i class="fa fa-envelope fa-lg"></i> </a>
                        </div>
                    </div>
                    
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <p> &copy; Copyright 2020 <a href="#">MFH</a></p>
                    </div>
                        
                </div>
            </div>
        </footer>
        <!-- End::footer -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
        <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>